<form [formGroup]="postForm">
    <div class="form-group">
        <label for=""></label>
        <input type="text" formControlName="title" placeholder="title">
    </div>
    <div class="form-group">
        <label for=""></label>
        <textarea name="" formControlName="content" id="" cols="80" rows="5" placeholder="say samething"></textarea>
    </div>
    <div class="btnGroup">
        <button (click)="onFormSubmit()">Post</button>
        <button type="submit">Reset</button>

    </div>
</form>