.cardContainer {
    display: flex;
    justify-content: space-between;

}

/* .card {
    height: 300px;
} */

.buttons {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    /* bottom: 0px; */
}