<app-filter-option (rented)="onShowRented()" (notRented)="onShowAvailable()" (reset)="onReset()"
    [cars]="cars"></app-filter-option>
<div class="cardContainer">
    <div class="container" *ngFor="let car of cars">
        <div class="card">
            <p>model: {{car.model}}</p>
            <p>engine: {{car.engineType}}</p>
            <p>price per day: {{car.priceToRent}}$</p>
            <p [ngStyle]="{'color': car.isRented === false ? 'green' : 'red'}">
                {{car.isRented === false ? 'available': 'not available' }}
            </p>
            <div class="buttons">
                <button (click)="Rent(car.id)" class="btn btn-primary" [disabled]="car.isRented === true">Rent</button>
                <button (click)="Return(car.id)" [disabled]="car.isRented === false"
                    class="btn btn-primary">Return</button>
            </div>

        </div>

    </div>
</div>